<div class="bar">
    <a href="/">
        <img src="/images/home.jpg" alt="首页">
    </a>

    <div class="bar_right">
        <span class="username"><%= username %></span>
        <a href="/write">写文章</a>
        <a href="/users/logout">退出</a>
    </div>
</div>