<!DOCTYPE html>
<html lang="en">
<head>
    <%- include header.ejs  %>
    <title><%= title %></title>
</head>
<body>
    <%- include('bar.ejs',{username}) %>

    <div class="article">
        <form action="/article/add" method="POST">
            <input type="text" name="title" placeholder="请输入标题" id="">

            <textarea class="xheditor" name="content"  cols="80" rows="10"></textarea>

            <button type="submit">发布</button>
        </form>
    </div>

    <script type="text/javascript" src="/xheditor/jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/xheditor/xheditor-1.2.2.min.js"></script>
    <script type="text/javascript" src="/xheditor/xheditor_lang/zh-cn.js"></script>
    <script>
        $('.xheditor').xheditor(
            {
                tools:"full",
                skin:'default'
            }
        )
    </script>
</body>
</html>