body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-box{
  width: 1000px;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.form-box div{
  margin: 20px 0;
}
